<div class="container">
  <h2>Apartments</h2>
  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <md-input-container floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter Apartments">
      </md-input-container>
    </div>
  
    <md-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->
      <ng-container cdkColumnDef="id">
        <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
       <md-cell *cdkCellDef="let row"><a href="https://www.w3schools.com"> {{row.id}}</a> </md-cell>
      </ng-container>
  
    <!-- Property Column -->
      <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef> Apartment Name </md-header-cell>
        <md-cell *cdkCellDef="let row">
     
        <!-- <a routerLink="#" routerLinkActive="active">{{row.floor_no}}</a> -->
        <a routerLink="/admin/apartments/view-apartment/{{row.uniqId}}" routerLinkActive="active">{{row.name}}</a>
        
  
        </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="city">
        <md-header-cell *cdkHeaderCellDef> City </md-header-cell>
       <md-cell *cdkCellDef="let row"> {{row.city}} </md-cell>
      </ng-container>
  

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
  </div>
