<div class="container">
<h2>Open Requests</h2>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter Requests">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
     <md-cell *cdkCellDef="let row"><a href="https://www.w3schools.com"> {{row.id}}</a> </md-cell>
    </ng-container>

  <!-- Email Column -->
    <ng-container cdkColumnDef="propertyId">
      <md-header-cell *cdkHeaderCellDef> Property Name </md-header-cell>
      
      <md-cell *cdkCellDef="let row"><a routerLink="/manager/properties/view-property/{{row.uniqueId}}" routerLinkActive="active">{{row.propertyId}}</a> </md-cell> 
      
   

      
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="requestTitle">
        <md-header-cell *cdkHeaderCellDef> Request Title </md-header-cell>
       <md-cell *cdkCellDef="let row"><a routerLink="/manager/requests/view-request/{{row.requestUniqueId}}" routerLinkActive="active">{{row.requestTitle}}</a> </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="requestPriority">
      <md-header-cell *cdkHeaderCellDef> Request Priority </md-header-cell>
     <md-cell *cdkCellDef="let row"> {{row.requestPriority}}</md-cell>
  </ng-container>



  

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>

</div>
<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->