

<div class="container">
        
        <div class="row home_dash_box">
                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>{{floorsCount}}</h3>
                      <p>Total Floors</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/floor.png"></div>

                    <a routerLink="/admin/floors/list" routerLinkActive="active"class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                    
                    
                    
                    </div>
                    
                  </div>
           
                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>{{unitsCount}}</h3>
                      <p>Total Units</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/room.png"> </div>
                    <a routerLink="/admin/units/list" routerLinkActive="active"class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                    
                  
                  </div>
                </div>
            
                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>{{ownersCount}}</h3>
                      <p>Total Owners</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/owner.png"> </div>
                    <a routerLink="/admin/owners/list" routerLinkActive="active"class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                    
                  
                  </div>
                </div>
               
                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>{{employeesCount}}</h3>
                      <p>Total Employees</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/employee.png"> </div>
                    <a routerLink="/admin/employee/list" routerLinkActive="active"class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                    
                  </div>
                </div>
             
                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>2</h3>
                      <p>Total Committees</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/comittee.png"> </div>
                    <a href="http://dhakadailybazar.com/demo/apartment-management-system/management/m_committee_list.php" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a> </div>
                </div>
               

                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                               <h3>{{fundsTotal | indianCurrency }}</h3>
                                 <p>Total Funds</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/fund.png"> </div>
                    <a routerLink="/admin/fund/list-monthly" routerLinkActive="active"class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                    
                  
                  
                  </div>
                </div> 


                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                               <h3>{{corpusfundTotal | indianCurrency }}</h3>
                                 <p>Total Corpus Fund</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/fund.png"> </div>
                    <a routerLink="/admin/corpus-fund/list" routerLinkActive="active"class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
                    
                  </div>
                </div> 



           
        



                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>
                        Report</h3>
                      <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/report.png"> </div>
                    <a href="http://dhakadailybazar.com/demo/apartment-management-system/report/report.php" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a> </div>
                </div>
               
                <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>Settings</h3>
                      <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img height="80" width="80" src="assets/img/setting.png"> </div>
                    <a href="http://dhakadailybazar.com/demo/apartment-management-system/setting/setting.php" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a> </div>
                </div>
              </div>
          
           




                

</div>

