<div class="container">
  
<h2>Resources List</h2>

<div class="example-container mat-elevation-z8">
<div class="example-header">
  <md-input-container floatPlaceholder="never">
    <input mdInput #filter placeholder="Filter Resources">
  </md-input-container>
</div>

<md-table #table [dataSource]="dataSource">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container cdkColumnDef="id">
    <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
   <md-cell *cdkCellDef="let row"><a href="https://www.w3schools.com"> {{row.id}}</a> </md-cell>
  </ng-container>

<!-- Property Column -->
  <ng-container cdkColumnDef="name">
    <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
    <md-cell *cdkCellDef="let row">
 
    <a routerLink="/manager/service-resource/view-resource/{{row.uniqId}}" routerLinkActive="active">{{row.name}}</a>

    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="serviceCategory">
      <md-header-cell *cdkHeaderCellDef> ServiceCategory </md-header-cell>
      <md-cell *cdkCellDef="let row">{{row.serviceCategory}} </md-cell>
    </ng-container>

  <ng-container cdkColumnDef="mobile">
    <md-header-cell *cdkHeaderCellDef> Mobile </md-header-cell>
    <md-cell *cdkCellDef="let row">{{row.mobile}} </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
</div>
</div>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->