<div class="container">
  <h2>Add Unit</h2>
  <form class="example-form" [formGroup]="unitForm" (ngSubmit)="onFormSubmit()">
     
  
    <md-card class="example-card">
  
   <md-select formControlName="floor_no" placeholder="Floor">
      <md-option disabled >Select</md-option>
      <md-option *ngFor="let floor of floors" value= {{floor.floor_no}}>{{floor.floor_no}}</md-option>
      
    
    </md-select>
    <md-error *ngIf="floor_no.hasError('required')">
      Floor Number is <strong>required</strong>
      </md-error>
  
    
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Unit No" [formControl]="unit_no">
    <md-error *ngIf="unit_no.hasError('required')">
      Unit Number is <strong>required</strong>
      </md-error>
    </md-input-container>
  
   
     
      <button md-raised-button type="submit"  [disabled]="!unitForm.valid">Add Unit</button> 
  </md-card>
    <!-- </div> -->
    </form>
  </div>